bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
dnspython
youtube_dl
yt_dlp
gtts
httpx==0.13.3
ffmpeg-python
beautifulsoup4==4.9.1
youtube_search
search_engine_parser
youtube_search_python
ffmpeg-normalize
