bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
dnspython
youtube_dl
yt_dlp
gtts
googletrans==4.0.0rc1
google-trans-new==1.1.9
httpx==0.13.3
ffmpeg-python
beautifulsoup4==4.9.1
youtube_search
fake_useragent>=0.1.11
youtube_search_python
ffmpeg-normalize
ytmusicapi
spotdl
rapidfuzz
ytthumb
https://github.com/jonathanong/heroku-buildpack-ffmpeg-latest
