bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
dnspython
python-arq
yt-dlp==2022.02.04
gtts
googletrans==4.0.0rc1
httpx==0.13.3
ffmpeg-python
beautifulsoup4==4.9.1
youtube_search
fake_useragent>=0.1.11
youtube-search-python
ffmpeg-normalize
ytmusicapi
spotdl
rapidfuzz
wget
pillow
hachoir
py-youtube
telegraph
shazamio==0.0.2
gpytranslate==1.3.0
